<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warren.fleet.blog.dao.UserDao">


    <!--insert user-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid" parameterType="com.warren.fleet.blog.model.User">
        insert into user (uname,upasswd) values (#{uname},#{upasswd});
    </insert>

    <!--update user-->
    <update id="update" parameterType="com.warren.fleet.blog.model.User">
        update user set uname=#{uname},upasswd=#{upasswd} where uid = #{uid};
    </update>

    <delete id="delete" parameterType="int">
        delete from user where uid = #{uid};
    </delete>

    <select id="selectByUid" parameterType="int" resultType="com.warren.fleet.blog.model.User">
        select uid,uname,upasswd from user where uid = #{uid};
    </select>

    <resultMap id="allUser" type="com.warren.fleet.blog.model.User">
        <id property="uid" column="uid" />
        <result column="uname" property="uname" />
        <result column="upasswd" property="upasswd" />
    </resultMap>
    <select id="selectAll" resultMap="allUser">
        select uid,uname,upasswd from user;
    </select>


    <resultMap id="UserBlogs" type="User">
        <id column="uid" property="uid" />
        <result column="uname" property="uname"/>
        <result column="upasswd" property="upasswd"/>
        <!--column="uid" javaType="List" select="com.warren.fleet.mapper.BlogMapper.selectBlogsByUserId"-->
        <collection property="blogs" ofType="Blog">
            <id column="bid" property="bid"/>
            <result column="title" property="title"/>
            <result column="content" property="content"/>
            <result column="f_time" property="f_time"/>
            <result column="l_time" property="l_time"/>
            <result column="author" property="author" />
        </collection>
    </resultMap>
    <select id="selectBlogs" parameterType="int" resultMap="UserBlogs">
        select *
        from user,blog
        where uid=#{uid} and user.uid = blog.author;
    </select>


<!--select user.*,blog.*-->
    <!--from user-->
    <!--left join-->
    <!--where-->
</mapper>